{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    #formLog {
        max-width: 35%;
        margin: 0 auto;
        position: relative;
        top: 10em
    }
    #error {
        color: red;
    }
{% endblock %}
{% block body %}
<div id="formLog">
    {% if error is not null %}<span id="error">Votre identifiant ou votre mot de passe est incorrect.{{ error }}</span>{% endif %}
    <form method="POST">
        <div class="form-group">
            <label for="username">Pseudo</label>
            <input type="text" name="_username" class="form-control" id="username" placeholder="Votre pseudo" {% if lastUsername is defined %}value="{{ lastUsername }}"{% endif %}>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="_password" class="form-control" id="password" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label for="remember_me">Keep me logged in</label>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    window.onload = function(){
        $('form').attr('autocomplete','off');
    }
{% endblock javascripts %}

{% block title %}{{ parent() }} | Login{% endblock %}