{% extends 'base.html.twig' %}
{% form_theme registerForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
<div style="max-width: 60%; margin: 0 auto; position: relative; top: 5em">
    <form action="register" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button class="btn btn-primary" type="submit" name="import">Import</button>
    </form>

    {{  form_start(registerForm) }}

    {{ form_widget(registerForm) }}

    <button type="submit" class="btn btn-primary">S'enregistrer</button>
    
    {{  form_end(registerForm) }}
</div>
{% endblock %}

{% block title %}{{ parent() }} | Registration{% endblock %}