{% extends 'base.html.twig' %}
{% form_theme registerForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
<div style="max-width: 60%; margin: 0 auto; position: relative; top: 5em">
    {{  form_start(registerForm) }}

    {{ form_widget(registerForm) }}

    <button type="submit" class="btn btn-primary">S'enregistrer</button>
    
    {{  form_end(registerForm) }}
</div>
{% endblock %}

{% block title %}{{ parent() }} | Registration{% endblock %}